.lets-text {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 4px;
}

/* === HERO AREA === */
.hero {
  position: relative;
  background-color: var(--main-blue);
  height: 700px;
  padding-top: 60px;
}
.asterisk {
  position: absolute;
  max-width: 40px;
  right: 60px;
  top: 35px;
}

@media (min-width: 768px) {
  .asterisk {
    right: 120px;
  }
  .lets-text {
    font-size: 60px;
  }
}

@media (min-width: 1024px) {
  .lets-text {
    font-size: 80px;
  }
}
